<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/users" routerLinkActive="active">Usuarios</a>
    <a mat-list-item routerLink="/dashboard/inventario" routerLinkActive="active">Inventarios</a>
      <a mat-list-item routerLink="/dashboard/categorias" routerLinkActive="active">Categorias</a>
      <a mat-list-item routerLink="/dashboard/descuentos" routerLinkActive="active">Descuentos</a>
      <a mat-list-item routerLink="/dashboard/panel-de-control" routerLinkActive="active">Panel de Control</a>
      <a mat-list-item routerLink="/dashboard/facturas" routerLinkActive="active">Facturas</a>
      <a mat-list-item routerLink="/dashboard/productos" routerLinkActive="active">Productos</a>
      <a mat-list-item routerLink="/dashboard/configuracion" routerLinkActive="active">configuracion</a>
      <a mat-list-item routerLink="/dashboard/ventas" routerLinkActive="active">Ventas</a>

      <!-- Puedes seguir agregando enlaces aquí -->
      <a mat-list-item (click)="logout()">Cerrar sesión</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Dashboard</span>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
